/* Job Card Styles */
:host {
  display: block;
}

.bg-blue-100 {
  background-color: #dbeafe;
}

.bg-orange-100 {
  background-color: #fed7aa;
}

.bg-green-100 {
  background-color: #dcfce7;
}

.bg-red-100 {
  background-color: #fee2e2;
}
